{% extends 'header.html' %}
{% csrf_token %}

{% block content %}
    {% load crispy_forms_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <h2>Auctioned items</h2>

{% if items %}
    {% for item in items %}
        <div class="wrapper">
{#        <a class="item-card" href="{% url 'items:detail' item.id %}">#}
{#            <div><img class="item_image_index" src="{{ item.image.url }}"></div>#}
            <img class="item_image_index" src="https://picsum.photos/300/300">
            <div class="item-card-title">{{ item.name }}</div>
            {% if item.is_active %}
                {% if item.remaining_minutes < 2 %}
                    <div class="item-card-urgent">Less than {{ item.remaining_minutes }}m</div>
                {% else %}
                    <div class="item-card-active">Less than {{ item.remaining_minutes }}m</div>
                {% endif %}
            {% else %}
            <div class="item-card-inactive">Expired</div>
            {% endif %}
            <div class="item-card-value">{{ item.min_value }}$</div>
        </a>
        </div>
    {% endfor %}

<div class="container p-4">
        <div class="pagination justify-content-center">
            <span class="step-links">
              {% if items.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ items.previous_page_number }}">previous</a>
              {% endif %}

                <span class="current">
                    Page {{ items.number }} of {{ items.paginator.num_pages }}
                </span>

              {% if items.has_next %}
                  <a href="?page={{ items.next_page_number }}">next</a>
                  <a href="?page={{ items.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
            </div>
        </div>


    <!-- Optional Javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% else %}
    <div>No items for auction.</div>
    {% endif %}
{% endblock content %}